@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    font-family: "Noto Serif", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    font-size: 10px;

    --bg-prim: rgb(30, 30, 30);
    --bg-sec: rgb(25, 25, 25);

    --font-prim: rgb(255, 255, 255);

    --acc: rgb(255, 150, 136);
    --acc-hover: rgb(253, 155, 155);
    --warn: yellow;

    --upvote-color: #b5370b;
    --downvote-color: #5f55e2;
}

h1,
h2,
h4,
h5,
h6,
a,
p {
    color: var(--font-prim);

    margin: 0;
    padding: 0;
}

h1 {
    font-size: clamp(2.5rem, 2dvw, 5rem);
    font-weight: 500;
}

h2 {
    font-size: clamp(2rem, 1.5dvw, 3.75rem);
    font-weight: 400;
}

h4 {
    font-size: clamp(1rem, 0.75dvw, 3rem);
    font-weight: 400;
}

h5 {
    font-size: clamp(3rem, 3dvw, 10rem);
    font-weight: 600;
}

h6 {
    font-size: clamp(4rem, 4dvw, 10rem);
    font-weight: 700;
}

a {
    text-decoration: none;
}

p {
    font-size: clamp(1rem, 1.25dvw, 4rem);
}

@media screen and (orientation: portrait) {
    h1 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    h5 {
        font-size: 3.5rem;
    }

    h6 {
        font-size: 4.5rem;
    }

    p {
        font-size: 1.5rem;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-prim);
    color: var(--font-prim);
}

nav {
    height: 10rem;
    background-color: var(--bg-sec);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
}

nav .logo {
    width: 10rem;
    height: 3rem;
}

nav .rcontent {
    display: flex;
    gap: 10px;
}

nav .rcontent img {
    height: 40px;
    width: 40px;
}

.search {
    background-color: var(--bg-prim);
    color: var(--font-prim);
    border: 1px solid var(--font-prim);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    box-sizing: border-box;
    width: 50%;
}

.search.searchActive {
    border-radius: 10px 10px 0 0;
}

.search img {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
}

.search input {
    width: 100%;
}

input:focus {
    outline: none;
}

#searchbox {
    position: absolute;
    bottom: 0px;
    transform: translateY(100%);
    left: -1px;
    visibility: hidden;
    background-color: var(--bg-prim);
    border: 1px solid var(--font-prim);
    padding: 10px;
    border-radius: 0 0 10px 10px;
    width: calc(100% + 2px);
    box-sizing: border-box;
    z-index: 500;
}

input {
    background-color: transparent;
    color: var(--font-prim);
    border: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.openingMenu {
    transform-origin: top right;
    background-color: var(--bg-prim);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--font-prim);
}

.openable {
    position: relative;
}

.openable.active .openingMenu {
    transform: scale(1);
}

#dms {
    visibility: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    width: 500px;
    height: 400px;
    background-color: var(--bg-sec);
    padding: 10px;
    border-radius: 20px 0 0 0;
    outline: 1px solid var(--font-prim);
}

#dms.active {
    visibility: visible;
}

#dms .leftPanel {
    width: 150px;
    overflow-y: scroll;
}

#dms .leftPanel .user {
    display: flex;
    line-height: 200%;
}

#dms .rightPanel {
    width: 350px;
    box-sizing: border-box;
    padding: 10px;
    height: 400px;
}

.messages {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    height: 330px;
}

.message {
    background-color: var(--bg-prim);
    padding: 10px;
}

.incoming,
.outgoing {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 10px;
    width: 80%;
}

.outgoing { 
    align-self: flex-end;
}

.incoming .message:first-child {
    border-radius: 20px 20px 5px 5px
}

.incoming .message:first-child:not(:has(+ .message)) {
    border-radius: 20px 20px 20px 0;
}

.incoming .message:not(:first-child):not(:last-child) {
    border-radius: 5px;
}

.incoming .message:last-child {
    border-radius: 5px 5px 20px 0;
}

.outgoing .message:first-child {
    border-radius: 20px 20px 5px 5px;
}

.outgoing .message:first-child:not(:has(+ .message)) {
    border-radius: 20px 20px 0 20px;
}

.outgoing .message:not(:first-child):not(:last-child) {
    border-radius: 5px;
}

.outgoing .message:last-child {
    border-radius: 5px 5px 0px 20px;
}

.input {
    display: flex;
    gap: 10px;
    border: 1px solid var(--font-prim);
    height: 50px;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    align-items: center;
}

.input input {
    width: 100%;
}

.openingMenu#notifs,
.openingMenu#mainmenu {
    transition: transform 0.1s ease-in-out;
    position: absolute;
    right: 50%;
    bottom: 0px;
    transform: translateY(100%) scale(0);
    width: 300px;
    z-index: 500;
}

.openable.active .openingMenu#notifs,
.openable.active .openingMenu#mainmenu {
    transform: translateY(100%) scale(1);
}

.openingMenu#notifs h4:nth-child(3) {
    width: max-content;
    grid-column: 1 / 4;
}

.openingMenu#notifs img:nth-child(4) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.topselection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.openingMenu#notifs .notification {
    display: grid;
    grid-template-columns: 40px 1fr;
    line-height: 170%;
}

.openingMenu#notifs .notification img {
    width: 40px;
    height: 40px;
}

button {
    border: none;
    background-color: var(--bg-prim);
}

#mainmenu hr {
    width: 100%;
}

#mainmenu div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.popupContent {
    min-width: 300px;
    height: 75px;
    background-color: var(--bg-sec);
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid var(--font-prim);
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    transition: transform 0.1s ease-in-out;
}

.popupContent.active {
    transform: translateX(-50%) translateY(-50%);
}